<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
    {% block titulo %}
        ViagemalaCarte
    {% endblock %}
    </title>
  </head>
{% block body %}
  <body class="overflow-hidden">
    <div class="container">
      <header>
        <nav>
		<div class="logo-alacarte">
		  <img src="{{ url_for('static', filename='fotos_site/img1a.png') }}" height="75" width="8">
		</div>
    	  <div class="restante-nav">
            <a href="" class="link-nav">Perfil</a>
            <a href="" class="link-nav">Fotos</a>
            <a href="" class="link-nav">Roteiros</a>
            <a href="" class="link-nav">Videos</a>
            <a href="" class="link-nav">Blog</a>
          </div>
        </nav>
      </header>
      <img src="{{ url_for('static', filename='fotos_site/fundo-login.png') }}" class="bg-imagem-pinterest">
      <div class="container-popup">
        {% block formulario %}
        <form method="POST" class="popup">
          {{ form.csrf_token }}
          <img src="{{ url_for('static', filename='fotos_site/img1a.png') }}" height="150" width="8">
          <h3>Bem-vindo(a)!</h3>
          <div class="div-input">
            {{ form.email.label(class="label") }}
            {% if form.email.errors %}
              {% for erro in form.email.errors %}
                <p style="color: red">{{ erro }}</p>
              {% endfor %}
            {% endif %}
            {{ form.email(class="input") }}
          </div>

          <div class="div-input">
            {{ form.senha.label(class="label") }}
            {% if form.senha.errors %}
              {% for erro in form.senha.errors %}
                <p style="color: red">{{ erro }}</p>
              {% endfor %}
            {% endif %}
            {{ form.senha(class="input") }}
          </div>

          <div class="div-botao">
            {{ form.botao_confirmacao(class="botao-login") }}
            <a href="{{ url_for('criarconta') }}" class="link-criarconta">Já tem uma conta ? Clique aqui para acessar</a>
          </div>
        </form>
        {% endblock %}
      </div>
    </div>
  </body>
{% endblock %}
</html>
